* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.main {
    position: relative;
    width: 100%;
    height: 100vh;
    background: #948f77;
}

nav {
    display: flex;
    width: 85%;
    margin: auto;
    padding: 1px 0;
    align-items: center;
    justify-content: space-between;
    background: black;    
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    font-size: 75px;
}

nav ul li a{
    text-decoration: none;
    color: #d9af4b;
    font-weight: bolder;
    
}

nav ul li a:hover {
    color: #cc1f29
}

.text {
    margin-left: 50px;
    margin-top: 5%;
}

.text h1 {
    font-size: 50px;
    color: black;
    margin-bottom: 20px;
}

span{
    color: #cc1f29;
}

.text p{
    color: black;
    line-height: 22px;
}