* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.main {
    position: relative;
    width: 100%;
    margin-bottom: 30px;
}

body{
    background-color: black;
    color: #E6B950;
}

.lightMode{
    background-color: #675B6E;
    color: white;
}

nav {
    display: flex;
    width: auto;
    margin: auto;
    padding: 1px 0;
    justify-content: space-between;
    height: auto;
}

nav img{
    width: 100%;
    max-width: 110px;
    height: auto;
    max-height: 110px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    font-size:x-large;
    vertical-align: text-bottom;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
    transition: color 0.4s ease;
}

nav ul li a:hover {
    color: #E6B950;
    font-weight: bolder;
}

nav button{
    padding: 2px 35px;
    border-radius: 50%;
    background-color: transparent;
    border-color: transparent;
    text-decoration: none;
    color: aliceblue;
    transition: color 0.9s ease;
    transition: border-color 0.4s ease;
}

nav button:hover{
    border-color: #E6B950;
    color: #E6B950; 
}

.header{
    margin-left: 50px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.header h1 {
    font-size: 50px;
    margin-bottom: 25px;
}

.header span{
    color: #cc1f29;
}

.header h4{
    font-size: 40px;
    padding-right: 10px;
    
    font-weight: bold;
}

.content {
    margin-top: 4px;
    padding-left: 3%;
    padding-right: 3.75%;
    display: flex;
    line-height: 1.6;
    
    justify-content: center;
}

.content p{
    font-size: 24px;
    line-height: 1.6;
    /* margin-right: 5px; */
    
    width: 1000px;
}

.content .imagem img{
    max-width: 250%;
    height: auto;
    /* margin: 2px; */
}

.content a{
    text-decoration: none;
    padding-right: none;
    font-size: 24px;
    line-height: 1.6;
    transition: color 0.3s ease;
    color: white;
}

.content a:hover {
    color: #E6B950;
}

.fontes{
    
    padding-left: 5%;
    margin-top: 20px;
}

.fontes p{
    padding-left: 2px;
    font-size: 40px;
    padding-right: 10px;
    
    font-weight: bold;
}

.fontes ul li {
    /* display: inline-block; */
    list-style: none;
    margin: 10px 20px;
    font-size:x-large;
}

.fontes ul li a{
    flex: auto;
    transition: color 0.2s ease;
    transition: underline 0.2s ease;
    text-decoration: none;
    color: whitesmoke;
    font-weight: bolder;
}

.fontes ul li a:hover {
    color: #E6B950;
    font-weight: bolder;
    text-decoration: underline;
}